<h1>Spins#new</h1>
<p>Find me in app/views/spins/new.html.erb</p>

<div style='width: 800px;'>
  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB_QWi7zPKtb69Nl11UJoFUsaxqZZztYWk&q=restaurants">
  </iframe>
</div>

<div>
  <%= form_tag spins_path do %>
	  <%= submit_tag "Spin the wheel" %>
  <% end %>
<div>